/* .cuerpo {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#intro-container {
    text-align: center;
    
    background-color: #fff;
    border-radius: 10px;
    height: 450px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#intro-container form h1 {
    font-size: 24px;
    color: #333;
    margin: 0;
}

#intro-container form p {
    font-size: 16px;
    color: #666;
}

 */

 body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#intro-container {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

form {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
