
body {
    display: flex; /* Muestra los elementos en una fila horizontal */
    flex-direction: column; /* Establece la dirección de flexión a horizontal (predeterminado) */
    justify-content: space-between; /* Distribuye los elementos a los lados */
    align-items: center; /* Centra verticalmente los elementos */
    margin: 0; /* Elimina el margen predeterminado */
    padding: 0; /* Elimina el relleno predeterminado */
    height: 100vh; /* Ajusta la altura de la página al 100% de la ventana gráfica */

    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    background-image: url('imagenes/fuentezuelas.jpg'); 
}

/* Estilos para el encabezado */
#header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

/* Estilos para el cuerpo */
#cuerpo {
    padding: 20px;
}

/* Estilos para el pie de página */
#footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

